---
permalink: /blog/rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }} Blog</title>
    <link>{{ site.url }}/blog/</link>
    <description>{{ site.description }}</description>
    <language>en</language>
    {% if collections.blog | length %}
    <lastBuildDate>{{ collections.blog[0].date | dateToRfc822 }}</lastBuildDate>
    {% endif %}
    {% for post in collections.blog %}
    <item>
      <title>{{ post.data.title | escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid>{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      {% if post.data.summary %}
      <description>{{ post.data.summary | escape }}</description>
      {% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
